* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html, body {
  margin: 0;
}

.title {}

main {}

.intro-chunk {
  font-size: 24px;
}

.max-width-wrapper {}

/* Add styles here! */
